body {
  background: #e8f4fe;
}

form {
  display: block;
  margin: 0 auto;
}

H1,
H2 {
  display: block;
  margin: 0 auto;
  text-align: left;
  color: #1db0b1;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

p {
  display: block;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.card-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 6px;
}

.logo {
  max-width: 130px;
  display: block;
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.search-form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  max-width: 100%;
  padding-bottom: 30px;
}

.search-button {
  width: fit-content;
  font-weight: normal;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  height: 50px;
  line-height: 20px;
}

.search-input {
  border: none;
  background: #e8f4fe;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  height: 50px;
  line-height: 20px;
}

.form-control {
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  background: #ffff;
  border: #8ec9f9;
}

.weather-info {
  margin: 40px 0 10px;
}

.weather-info li {
  color: #1db0b1;
  font-weight: normal;
  font-size: 20px;
}

.icon-style {
  display: block;
  margin-right: 10px;
  width: 35%;
}

.big-temperature {
  color: #1db0b1;
  font-size: 70px;
  font-weight: 700;
}

.unit-temperature {
  margin-top: 25px;
  color: #1db0b1;
  font-weight: normal;
  font-size: 20px;
}

.active a {
  color: #1db0b1;
  cursor: default;
}

.active a:hover {
  text-decoration: none;
}

.calendar {
  border-bottom: 1px solid #f9f7fe;
  margin: 50px 20px;
  text-align: center;
  padding-bottom: 30px;
}

.weekdays {
  color: #1db0b1;
  font-weight: normal;
  font-size: 20px;
}

.temperature {
  color: #1db0b1;
  font-weight: bold;
  font-size: 20px;
}

.weather-footer {
  color: #1db0b1;
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
}
