form {
  display: block;
  margin: 0 auto;
}

img,
H1,
H2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1db0b1;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

p {
  display: block;
  margin: 0 auto;
}

.card-wrapper {
  max-width: 680px;
  margin: 30px auto;
}

.logo {
  max-width: 150px;
  display: block;
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.search-form {
  margin-top 40px;
  border-bottom: 1px solid #f9f7fe;
  max-width: 100%;
  padding-bottom: 30px;
}

.search-button {
  width: fit-content;
  font-weight: bold;
}

.search-input {
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  height: 50px;
  line-height: 20px;
}

.form-control {
  width: 100%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card {
  max-width: 680px;
  margin: 30px auto;
  padding: 20px;
  background: #e8f4fe;
  border: #8ec9f9;
}

.icon-style {
  width: 25%;
}

.calendar {
  margin: 100px 0px;
  text-align: center;
}

.weekdays {
  color: #1db0b1;
  font-weight: normal;
  font-size: 20px;
}

.temperature {
  color: #1db0b1;
  font-weight: bold;
  font-size: 20px;
}
